<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="views/template/layout">

<body>
    <div layout:fragment="body">
        <div class="container py-5">
            <div class="row">
                <!-- Tour Image -->
                <div class="col-md-6">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <img th:src="@{'/assets/img/tour-' + ${tour.id} + '.jpg'}" class="img-fluid" alt="Tour Image" />
                    </div>
                </div>
                <!-- Tour Details -->
                <div class="col-md-6">
                    <div class="text-left wow fadeInUp" data-wow-delay="0.2s">
                        <h1 th:text="${tour.place}"></h1>
                        <p class="text-muted" th:text="${tour.duration}"></p>
                        <p class="text-success" th:text="'Price: $' + ${tour.price}"></p>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p th:text="${tour.description}"></p>
                    </div>
                    <!-- Booking Section -->
                    <div class="text-center mt-4">
                        <a href="#" class="btn btn-lg btn-primary px-4">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
